
.news-page-section {
    background-color: #111111;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.left-block {
    width: 70%;
    padding: 0 7px 0 7px;
}

.right-block {
    position: sticky;
    top: 30px;
    width: 30%;
    padding-left: 12px;
    padding-top: 25px;
}

.left-block-header {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}

.left-block-content {
    padding: 0 15px 15px 0;
}


.left-block-content h1 {
    color: white;
    font-family: "Open Sans";
    font-size: 42px;
    margin: 10px 0 10px 0;
}

.bottom-tittle {
    border-color: #d72924;
    margin: 15px 0;
    border-left: 3px solid #d72924;
    padding-left: 15px;
    color: #fff;
}

.left-block-img {
    position: relative;
    width: 100%;
}

.left-img {
    width: 100%;
}

.left-img img {
    height: auto;
    max-width: 100%;
}

.left-block-news {
    padding-top: 25px;
}

.news-title {
    border-color: #d72924;
    margin: 15px 0;
    border-left: 3px solid #d72924;
    padding-left: 15px;
    color: #fff;
}

.news-gallery {
    width: 100%;
    padding-top: 15px;
    display: inline-flex;
    flex-wrap: wrap;
}

.news-gallery a {
    height: 180px;
    padding: 0 7px 14px 7px;
}

.news-gallery a img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.news-gallery a iframe {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.right-block-item {
    margin-bottom: 25px;
}


.posts-list-row-6 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: none;
}

.posts-list-row-6 ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    font-size: 14px;
    margin-bottom: 7px;
    padding-bottom: 7px;
}

.posts-list-row-6 ul li:last-child {
    border-bottom: 0;
}

.posts-list-row-6 ul li a{
    font-size: 16px;
    font-weight: 700;
    font-family: "Open Sans";
    color: white;
    text-decoration: none;
}


.right-block-item-8 {
    margin-bottom: 25px;

}

.right-block-item-8 ul {
    padding: 0;
    list-style-type: none;
    font-weight: 700;
}

.right-block-item-8 ul li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.posts-list-row-9 {
    font-size: 16px;
}

.posts-list-row-9 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: none;
}

.posts-list-row-9 ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    font-size: 14px;
    margin-bottom: 7px;
    padding-bottom: 7px;
}

.posts-list-row-9 ul li:last-child {
    border-bottom: 0;
}

.posts-list-row-9 ul li a{
    font-size: 16px;
    font-weight: 700;
    font-family: "Open Sans";
    color: white;
    text-decoration: none;
}

.right-title {

}

.right-title h2 {
    font-family: "Open Sans";
    font-weight: 700;
    color: white;
}

.right-title ul {
    list-style-type: none;
    padding-left: 0;
}

.right-title ul li a {
    text-decoration: none;
    color: #d72924;;
    line-height: 1.5;
}


.no-comments {
    color: white;
}

.have-missed-section {
    position: relative;
}

.container-have-missed {
    position: relative;
}

